*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: grey;
    // position: relative;
}

.main{
    // position: relative;
    display: block;
    height: 100vh;
}

.score-table{
    width: 100%;
    // height:100px;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    flex-basis: 100%;
    text-align: center;
    padding-top: 30px;
}



.score-table--both{
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    min-height: 60%;
    flex-basis: 45%;

}

.scoreX{
    border: 2px solid red;
}

.reset{
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    height: 50px;
    font-size: 30px;
    letter-spacing: 2px;
    border-radius: 10px;
    line-height: 50px;
    &:hover{
        background-color: red;
    }
    
}


//playground
.playground{
    width: 80vw;
    height: 80vw;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    @media (min-width:480px ){
        width: 450px;
        height: 450px;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
    }
    position: absolute;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
div{
    flex-basis: 33%;
    height: 33%;
    position: relative;
    border: 1px solid rgb(56, 56, 56);
    background-color: gray;


  }
  
  .content{
    font-size: 7vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(169, 223, 21);
  
    
  }